<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product Review Page</title>
<link rel="stylesheet" href="..\public\css\style.css">
</head>
<body>
<div class="container">
    <header>
        <div class="product-image">
            <img src="../public/images/visionpro.jpg" alt="Product Image">
        </div>
    </header>
    <main>
        <div class="reviews">
            <div class="reviews-header">
                <h2>Total Reviews: xxxx</h2>
            </div>
            <div class="review-sections">
                <div class="review-column positive">
                    <h3>Positive Reviews</h3>
                    <p>Keyword 1 - </p>
                    <p>Keyword 2 - </p>
                    <p>Keyword 3 - </p>
                    <p>Keyword 4 - </p>
                    <p>Keyword 5 - </p>
                    <p>Keyword 6 - </p>
                    <p>Keyword 7 - </p>
                    <p>Keyword 8 - </p>
                    <p>Keyword 9 - </p>
                    <p>Keyword 10 - </p>
                   
                </div>
                <div class="review-column negative">
                    <h3>Negative Reviews</h3>
                    <p>Keyword 1 - </p>
                    <p>Keyword 2 - </p>
                    <p>Keyword 3 - </p>
                    <p>Keyword 4 - </p>
                    <p>Keyword 5 - </p>
                    <p>Keyword 6 - </p>
                    <p>Keyword 7 - </p>
                    <p>Keyword 8 - </p>
                    <p>Keyword 9 - </p>
                    <p>Keyword 10 - </p>
                   
                </div>
            </div>
        </div>
        <form class="review-form">
            <textarea id="review" name="review" placeholder="Write your review..." rows="4"></textarea>
            <button type="submit">Submit</button>
        </form>
    </main>
</div>
</body>
</html>
