body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.container {
    width: 95%; /* Increased width for a broader layout */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px; /* Rounded corners for modern look */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image img {
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

.reviews-header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.review-sections {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
}

.review-column {
    flex: 1;
    padding: 0 40px; /* Adjusted padding for better spacing */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering content within columns */
}

.review-form {
    width: 100%; /* Full width to align with the container */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    height: 150px; /* More space for text */
    border-radius: 5px; /* Rounded corners for textarea */
}

.review-form button {
    width: auto;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.review-form button:hover {
    background-color: #004494;
}

h2, h3 {
    color: #333;
    margin: 0;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

/* Styles for review sections */
.positive, .negative {
    text-align: center; /* Centers text */
}

#totalReviews {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#temp {
    margin-left: 60px;
}